node-red-flows.json
[
    {
        "id": "524dd61885a855ec",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e8f48f0d1b5091f",
        "type": "mqtt in",
        "z": "524dd61885a855ec",
        "name": "",
        "topic": "sed/sensor/distance",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "935732902e160e5f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 780,
        "wires": [
            [
                "7fdadea335c7081d"
            ]
        ]
    },
    {
        "id": "7fdadea335c7081d",
        "type": "function",
        "z": "524dd61885a855ec",
        "name": "function 2",
        "func": "let people = context.get(\"people\") || 0;\nlet armed = context.get(\"armed\") || false;\n\nlet d = parseFloat(msg.payload);\n\n// 1. empieza a contar\nif (d > 50) {\n    armed = true;\n}\n\n// 2. si distancia <20, persona que sale +1\nif (armed && d < 20) {\n    people++;\n    armed = false;\n}\nif(msg.topi === 0){\n    people=0;\n}\ncontext.set(\"people\", people);\ncontext.set(\"armed\", armed);\n\nreturn { payload: people };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 780,
        "wires": [
            [
                "67cca7eef396199d"
            ]
        ]
    },
    {
        "id": "67cca7eef396199d",
        "type": "ui-template",
        "z": "524dd61885a855ec",
        "group": "071ef591fef11402",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": "0",
        "height": "0",
        "head": "",
        "format": "<div style=\"display:flex; justify-content:flex-start; width:100%;\">\n\n  <div style=\"\n      background:#1e1e1e;\n      color:#fff;\n      width:700px;\n      min-height:120px;\n      border-left:6px solid #00bcd4;\n      border-radius:10px;\n      padding:12px 16px;\n  \">\n    \n    <div style=\"font-size:22px; opacity:0.7;\">\n      Personas que han salido:\n    </div>\n\n    <div style=\"font-size:42px; font-weight:bold;\">\n      {{msg.payload}}\n    </div>\n\n  </div>\n\n</div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "a8060bb40a38003c",
        "type": "function",
        "z": "524dd61885a855ec",
        "name": "function 1",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 480,
        "wires": [
            [
                "56e5e4bc9c79ac27"
            ]
        ]
    },
    {
        "id": "9a4a4f0a1f02de57",
        "type": "mqtt in",
        "z": "524dd61885a855ec",
        "name": "",
        "topic": "sed/sensor/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "935732902e160e5f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 440,
        "wires": [
            [
                "a8060bb40a38003c",
                "ac96dd7dca5de766"
            ]
        ]
    },
    {
        "id": "56e5e4bc9c79ac27",
        "type": "ui-gauge",
        "z": "524dd61885a855ec",
        "name": "Humidity",
        "group": "071ef591fef11402",
        "order": 0,
        "value": "payload",
        "valueType": "msg",
        "width": "4",
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humidity",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 960,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "bc1175ce41180155",
        "type": "function",
        "z": "524dd61885a855ec",
        "name": "function 5",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 280,
        "wires": [
            [
                "0be12fd59b234a9d"
            ]
        ]
    },
    {
        "id": "ef85c0acaf63551d",
        "type": "mqtt in",
        "z": "524dd61885a855ec",
        "name": "",
        "topic": "sed/sensor/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "935732902e160e5f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "bc1175ce41180155",
                "ac96dd7dca5de766"
            ]
        ]
    },
    {
        "id": "0be12fd59b234a9d",
        "type": "ui-gauge",
        "z": "524dd61885a855ec",
        "name": "Temperature",
        "group": "071ef591fef11402",
        "order": 0,
        "value": "payload",
        "valueType": "msg",
        "width": "4",
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperatura",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1010,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8015c55e4eec14bc",
        "type": "ui-chart",
        "z": "524dd61885a855ec",
        "group": "071ef591fef11402",
        "name": "Environmental Data",
        "label": "Environmental Data",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "5",
        "height": "7",
        "className": "",
        "interpolation": "linear",
        "x": 810,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ac96dd7dca5de766",
        "type": "function",
        "z": "524dd61885a855ec",
        "name": "function 6",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "8015c55e4eec14bc"
            ]
        ]
    },
    {
        "id": "2cc02fac9ba7a43c",
        "type": "mqtt in",
        "z": "524dd61885a855ec",
        "name": "",
        "topic": "sed/sensor/si7021/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "935732902e160e5f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 600,
        "wires": [
            [
                "c365147101613e29"
            ]
        ]
    },
    {
        "id": "c365147101613e29",
        "type": "ui-template",
        "z": "524dd61885a855ec",
        "group": "071ef591fef11402",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "6",
        "head": "",
        "format": "\n  <div style=\"\n      background: #1e1e1e;\n      color: #fff;\n      width: 450px;\n      height: 80px;\n      border-left: 4px solid #e74c3c;\n      border-radius: 12px;\n      padding: 16px 12px;\n      box-shadow: 0 2px 8px rgba(0,0,0,0.2);\n      display: flex;\n  \">\n    <div style=\"font-size: 32px; opacity: 0.9; margin-bottom: 12px; text-align: center; font-weight: 500;\">\n      sensor SI7021: {{msg.payload}}\n    </div>\n  </div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 708.8833618164062,
        "y": 607.38330078125,
        "wires": [
            []
        ]
    },
    {
        "id": "cfbc206ba76194cf",
        "type": "mqtt in",
        "z": "524dd61885a855ec",
        "name": "",
        "topic": "sed/sensor/distance/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "935732902e160e5f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 680,
        "wires": [
            [
                "99e9fa2659811949"
            ]
        ]
    },
    {
        "id": "99e9fa2659811949",
        "type": "ui-template",
        "z": "524dd61885a855ec",
        "group": "071ef591fef11402",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "6",
        "head": "",
        "format": "\n  <div style=\"\n      background: #1e1e1e;\n      color: #fff;\n      width: 450px;\n      height: 80px;\n      border-left: 4px solid #e74c3c;\n      border-radius: 12px;\n      padding: 16px 12px;\n      box-shadow: 0 2px 8px rgba(0,0,0,0.2);\n      display: flex;\n  \">\n    <div style=\"font-size: 32px; opacity: 0.9; margin-bottom: 12px; text-align: center; font-weight: 500;\">\n      sensor HC-SR04: {{msg.payload}}\n    </div>\n\n  </div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "935732902e160e5f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "http://172.20.10.7",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "071ef591fef11402",
        "type": "ui-group",
        "name": "Sensores",
        "page": "ec79e9c18dc58644",
        "width": "12",
        "height": "7",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ec79e9c18dc58644",
        "type": "ui-page",
        "name": "SED",
        "ui": "e9e1bcaff2a6a84c",
        "path": "/SED",
        "icon": "home",
        "layout": "grid",
        "theme": "f6a7d92d3135231c",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e9e1bcaff2a6a84c",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "f6a7d92d3135231c",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "169b909d7d078d9c",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]